/* ======== global ======== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}





/* ======== typography ======== */

/* ---- global ---- */

body {
  color: #fff;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

.current-page {
  border-bottom: 4px solid #EFC3A4;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/* page-contact */

.page-contact-banner-order-link {
  color: #0E0504;
  font-weight: 700;
  transition: .25s;
}

.page-contact-banner-order-link:focus,
.page-contact-banner-order-link:hover {
 color: #EFC3A4; 
}

/* page-header */

.page-header {
  color: #0E0504;
}

.header-logo {
  font-size: 2rem;
  font-weight: 500;
}

.open-nav {
  color: #0E0504;
  font-size: 2.5rem;
  font-weight: 600;
}

.close-nav {
  color: #EFC3A4;
  font-size: 2.25rem;
  font-weight: 600;
}

.header-link {
  color: #EFC3A4;
  font-size: 1.5rem;
  font-weight: 600;
}

/* ---- index.html ---- */

/* splash-section */

.splash-title {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  line-height: 1;
}

.splash-btn {
  font-size: 1.75rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
}

/* about-us */

.about-us {
  color: #0E0504;
}

.about-us-title,
.about-us-sub-title {
  text-align: center;
  color: #0E0504;
}

.about-us-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: .8;
  letter-spacing: -2px;
}

.about-us-sub-title {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #BE7656;
}

.about-us-article-title {
  font-size: 1.75rem;
  line-height: 1;
}

.about-us-article-txt {
  font-size: 1.25rem;
  font-weight: 500;
}

.about-us-read-more-btn {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0E0504;
  border-bottom: 3px solid #794028
}

.about-us-read-more-btn:focus,
.about-us-read-more-btn:hover {
  color: #BE7656;
}

/* ======== style ======== */

/* ---- global ---- */

body {
  background-image: linear-gradient(to right,  #794028, #0E0504);
}

.page-contact-banner,
.page-header,
.splash-section,
.about-us-article-container {
  padding-inline: 1em;
}

/* page-contact */

.page-contact-banner {
  padding-block: .5em;
}

.page-contact-banner-container {
  justify-content: space-between;
  align-items: center;
}

.page-contact-banner-order-link {
  background-image: linear-gradient(to right, #EFC3A4, #BE7656);
  padding: .25em .75em;
  border-radius: 30px;
  cursor: pointer;
  transition: 1s;
}

.page-contact-banner-order-link:focus,
.page-contact-banner-order-link:hover {
  background-image: linear-gradient(to right, #0E0504, #4B1F0E); 
}

.header-logo {
  align-items: center;
}

/* page-header */

.page-header {
  justify-content: space-between;
  align-items: center;
  background-color: #e9d2c2;
}

.coffee-icon {
  margin-left: .25em;
}

.open-nav {
  border: none;
  background-color: transparent;
  margin-bottom: .2em;
  cursor: pointer;
}

.header-nav-container {
  position: fixed;
  background-image: linear-gradient(to bottom, #794028, #0E0504);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform .5s
}

.open-navigation {
  transform: translateX(-100%);
}

.close-nav {
  position: fixed;
  border: none;
  background-color: transparent;
  margin: .1em .3em;
  cursor: pointer;
}

.header-nav-link-container {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

/* ---- index.html ---- */

/* splash-page */

.splash-section {
  background-image: url(./img/splash-background.jpg);
  background-color: #a7a7a7f5;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  min-height: 70svh;
  flex-direction: column;
  justify-content: center;
}

.splash-btn {
  border: 2px solid #ffffff;
  border-radius: 3px;
  margin-right: auto;
  padding: .1em .5em .3em;
  margin-top: .25em;
  transition: .25s;
}

.splash-btn:focus,
.splash-btn:hover {
  background-color: #0e050493;
}

/* about-us */

.about-us {
  background-color: #fff;
  padding-block: 2.5em;
}

.about-us-container {
  flex-direction: column;
}

.about-us-container-img {
  width: 100%;
  padding-block: 2em;
}

.about-us-article-container {
  flex-direction: column;
}

.about-us-article-txt {
  margin-block: .75em;
}

.about-us-read-more-btn {
  margin-left: auto;
  margin-right: .25em;
}

/* *,
.open-nav {
  border: 1px solid red;
} */

